.chart {
  padding: 1rem;
  border-radius: 12px;
  background-color: #f8dfff;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
}
@media (max-width: 580px) {
  .chart {
		padding: 0.5rem;
	}
}
